<%- include('layouts/top') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Note App</h1>
                <button class="btn btn-primary mt-3 mb-3 login" onclick=login()>Login</button>
                <button class="btn btn-primary register" onclick=register()>Register</button>
            </div>
        </div>
    </div>
<%- include('layouts/bottom') %>