<%- include('layouts/top') %>
<div class="container-fluid d-flex align-items-center">
    <div class="login-section mx-auto">
            <h1 class="text-center text-white mt-3">Sign in</h1>
            <% if (msg.length > 0) { %>
                <div class="alert alert-<%=alert%> w-50 mx-auto text-center" role="alert" style="margin-bottom: -30px;">
                    <%= msg  %> 
                </div>
            <% } %>
            <div class="row mt-5">
                <div class="col-6 mx-auto form-section">
                    <form class="d-flex flex-column" action="/login" method="post">
                        <div class="mb-3 d-flex flex-column align-items-center ">
                          <label for="username" class="form-label text-white">username</label>
                          <input type="textl" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3 d-flex flex-column align-items-center">
                          <label for="password" class="form-label text-white">Password</label>
                          <input type="password" class="form-control" id="password" name="password"required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Login</button>
                    </form>
                </div>
            </div>
            <div class="row" >
                <div class="col d-flex justify-content-center mt-3 create-user">
                    <span class="text-white">don't have account ? <a class="text-decoration-none" href="/register">Create account</a></span>
                </div>
            </div>
        </div>
    </div>
<%- include('layouts/bottom') %>

